@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  html, body, #root {
    height: 100%;
  }

  body {
    @apply m-0 bg-black text-[#e7e9ea] antialiased;
  }

  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}
